
.card.dark {
 background-color: white;
  text-align: center;
}

.searchP{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  ;
 
  
  
}
.searchP div {
  margin: 30px;
} 

body{
  background-image: url(./img/pupu.jfif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  
}

.mr-autoo{margin-right: 2%;  
}

.mr-autooo{margin-right: 5%;  
}